<div data-role="footer" data-id="foo1" data-position="fixed" class="ui-footer ui-bar-a ui-footer-fixed fade ui-fixed-overlay" role="contentinfo" style="top: -1285px; ">
  <div data-role="navbar" class="ui-navbar ui-navbar-noicons" role="navigation">
    <ul class="ui-grid-a">
      <li class="ui-block-a"><a href="<%= root_path %>" class="ui-btn ui-btn-down-a ui-btn-up-a" data-theme="a"><span class="ui-btn-inner" aria-hidden="true"><span class="ui-btn-text">Shop</span></span></a></li>
      <li class="ui-block-b"><a href="<%= my_lists_path %>" data-theme="a" class="ui-btn ui-btn-up-a"><span class="ui-btn-inner" aria-hidden="true"><span class="ui-btn-text">Lists</span></span></a></li>
    </ul>
  </div><!-- /navbar -->
</div>
