<div data-role="page"> 
  <div data-role="header">
    <a href="<%= root_path %>" data-icon="back">Back</a>
    <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Checkout</h1>
  </div>
  <div data-role="content" style="padding-top: 0px">
    <h3>Items</h3>

    <ul data-role="listview" data-theme="g">
    <% @grouped_items.each do |name, items| %>
      <%= render :partial => 'list_item', :locals => {:name => name, :items => items} %>
    <% end %>
    </ul>

  </div>
  <div data-role="footer">
    <h4 class="" tabindex="0" role="heading" aria-level="1">Made with care</h4>
  </div>
</div>
