<div data-role="page">

	<div data-role="header" data-theme="b">
		<h1>Thank you</h1>
	</div><!-- /header -->

	<div data-role="content" data-theme="c">	
    <p>Your order and payment has been sent, and processed. Expect delivery around 8:15 AM tomorrow</p>		
	</div><!-- /content -->
</div><!-- /page -->
